
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps01-checkpoint.ipynb
.ipynb_checkpoints/ps02-checkpoint.ipynb
.ipynb_checkpoints/ps03-checkpoint.ipynb
.ipynb_checkpoints/ps00-DRAFT-checkpoint.ipynb
.ipynb_checkpoints/ps0.1.5-checkpoint.ipynb
.ipynb_checkpoints/ps-0.1.5-checkpoint.ipynb
